.tour-event {
  background-color: black;
  padding: 20px;
}
.tour-head {
  color: rgb(184, 177, 177);
}
.used-techno {
  color: tomato;
  padding-right: 10px;
}
.hinnden1 {
  padding: 20px;
}
.hinnden1 a {
  padding-left: 20px;
}
