.row-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.row-style1 {
  background-color: rgb(22, 33, 44);
  background-size: cover;
  background-repeat: no-repeat;
}
.desciptionimg {
  height: 100%;
  width: 100%;
}
.hading {
  color: tomato;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
}
.details {
  color: rgb(150, 153, 160);
  margin-top: 10%;
}
.about-head {
  font-family: "Dancing Script", cursive;
  padding-top: 30px;
  color: rgb(253, 253, 253);
  font-size: 50px;
}
